---
layout: base
title: Blog
description: This is the blog home
tags: page
order: 3
---

<h1>Blog Home</h1>

<img src="../assets/images/learn.png" alt="imagen wow">

<ul>
    {% for post in collections.post %}
        <li class="blog-list-item">
            <a href="{{ post.url }}" class="blog-list-link">{{ post.data.title }}</a>
            <small class="blog-list-date">{{ post.date | postDate }}</small>
        </li>
    {% endfor %}
</ul>